extends layout

block content

  h1 Видалення Категорії: #{lawcategory.name}
  
  if lawcategory_posts.length
  
    p #[strong Delete the following posts before attempting to delete this law category.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Post
    
      dl
      each post in lawcategory_posts
        dt 
          a(href=post.url) #{post.title}
        dd #{post.summary}

  else
    p Do you really want to delete this Категорію?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=lawcategory._id )

      button.btn.btn-primary(type='submit') Delete
