extends layout

block content

  h1 Категорія: #{lawcategory.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Дописи
    
    dl
    each post in lawcategory_posts
      dt 
        a(href=post.url) #{post.title}
      dd #{post.summary}

    else
      p Ця категорія не містить дописів.
      
  hr
  p
    a(href=lawcategory.url+'/delete') Видалити Категорії
  p
    a(href=lawcategory.url+'/update') Оновити Категорії
